[variables]
PYTHON_VERSION = "3.12.0"

[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "python -m pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "bash scripts/start.sh"

