[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

# Não rodar migrate ou collectstatic durante o build
# Esses comandos serão executados pelo script start.sh no runtime
[phases.build]
cmds = []

[start]
cmd = "bash scripts/start.sh"
